# Nuxt build output
.nuxt
.output
.nitro
dist

# dependencies
node_modules
package-lock.json

# agents & skills
.agents/
.roo/
skills-lock.json
data.md
element.md
form.md
layout.md
navigation.md
type.md

# logs & caches
*.log
.cache
.DS_Store
.idea
.vscode

# environment
.env
.env.*
!.env.example
